Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)


cd into your exercises folder for this module and run echo env.py >> .gitignore

Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [10]:
def get_db_url(username,password,hostname):
    database = input('what database?: ')
    return f'mysql+pymysql://{username}:{password}@{hostname}/{database}'

In [11]:
import env
import pandas as pd
import numpy as np

Use your function to obtain a connection to the employees database.

In [12]:
url = get_db_url(env.user, env.password,env.host)
pd.read_sql('select * from employees limit 5', url)

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [13]:
wrong_url = get_db_url(env.user, env.password,env.host,'employe')
# pd.read_sql('select * from employees limit 5', wrong_url)
# pd.read_sql('select from employees limit 5', url)

TypeError: get_db_url() takes 3 positional arguments but 4 were given

Read the employees and titles tables into two separate DataFrames.

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [ ]:
employees_df = pd.read_sql('select * from employees', url)

In [ ]:
url

In [ ]:
titles_df = pd.read_sql('select * from titles', url)

In [ ]:
employees_df.info()

In [ ]:
titles_df.info()

Display the summary statistics for each DataFrame.

In [ ]:
employees_df.describe()

In [ ]:
titles_df.describe()

How many unique titles are in the titles DataFrame?

In [ ]:
unique_titles = pd.read_sql('select distinct title from titles',url)

In [ ]:
unique_titles

In [ ]:
titles_df['title'].unique()

What is the oldest date in the to_date column?

In [ ]:
(titles_df['to_date'].min())

What is the most recent date in the to_date column?

In [ ]:
titles_df['titles'].max()

In [ ]:
# titles_df[['to_date'] == '1985-03-01']
titles_df[(titles_df['to_date']) == (titles_df['to_date'].min())]

exercises II

Copy the users and roles DataFrames from the examples above.

In [16]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})

In [18]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})

What is the result of using a right join on the DataFrames?

In [19]:
pd.merge(users, roles, how='right', left_on='role_id', right_on='id')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0     1      admin
1   2.0    joe      2.0     2     author
2   3.0  sally      3.0     3   reviewer
3   4.0   adam      3.0     3   reviewer
4   NaN    NaN      NaN     4  commenter