Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)


cd into your exercises folder for this module and run echo env.py >> .gitignore

Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [3]:
def get_db_url(username,password,hostname):
    database = input('what database?: ')
    return f'mysql+pymysql://{username}:{password}@{hostname}/{database}'

In [104]:
import env
import pandas as pd
import numpy as np
import mapplotlib

ModuleNotFoundError: No module named 'mapplotlib'

Use your function to obtain a connection to the employees database.

In [5]:
url = get_db_url(env.user, env.password,env.host)
pd.read_sql('select * from employees limit 5', url)

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [6]:
wrong_url = get_db_url(env.user, env.password,env.host,'employe')
# pd.read_sql('select * from employees limit 5', wrong_url)
# pd.read_sql('select from employees limit 5', url)

TypeError: get_db_url() takes 3 positional arguments but 4 were given

Read the employees and titles tables into two separate DataFrames.

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [ ]:
employees_df = pd.read_sql('select * from employees', url)

In [ ]:
url

In [ ]:
titles_df = pd.read_sql('select * from titles', url)

In [ ]:
employees_df.info()

In [ ]:
titles_df.info()

Display the summary statistics for each DataFrame.

In [ ]:
employees_df.describe()

In [ ]:
titles_df.describe()

How many unique titles are in the titles DataFrame?

In [ ]:
unique_titles = pd.read_sql('select distinct title from titles',url)

In [ ]:
unique_titles

In [ ]:
titles_df['title'].unique()

What is the oldest date in the to_date column?

In [ ]:
(titles_df['to_date'].min())

What is the most recent date in the to_date column?

In [ ]:
titles_df['titles'].max()

In [ ]:
# titles_df[['to_date'] == '1985-03-01']
titles_df[(titles_df['to_date']) == (titles_df['to_date'].min())]

exercises II

Copy the users and roles DataFrames from the examples above.

In [ ]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})

In [ ]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})

What is the result of using a right join on the DataFrames?

In [ ]:
pd.merge(users, roles, how='right', left_on='role_id', right_on='id')

What is the result of using an outer join on the DataFrames?

In [ ]:
pd.merge(users, roles, how='outer', left_on='role_id', right_on='id')

What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
users.drop(columns='role_id')

Load the mpg dataset from PyDataset.

In [22]:
from pydataset import data
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

Output and read the documentation for the mpg dataset.

In [23]:
mpg.describe

<bound method NDFrame.describe of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

How many rows and columns are in the dataset?

In [ ]:
mpg.shape

Check out your column names and perform any cleanup you may want on them.

In [ ]:
mpg.rename(columns={'class':'cls'})

Display the summary statistics for the dataset.

In [ ]:
mpg.describe()

How many different manufacturers are there?

In [ ]:
len(mpg['manufacturer'].unique())

How many different models are there?

In [11]:
len(mpg['model'].unique())

38

Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [24]:
mpg['average_mileage'] = mpg['hwy']- mpg.cty

In [25]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [32]:
mpg['average_mileage'] = mpg[['cty','hwy']].mean(axis=1)

In [33]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [40]:
mpg['is_automatic'] = np.where(mpg.trans.str.startswith('a'),True,False)

In [41]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,True

Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [49]:
mpg[['manufacturer','average_mileage']]\
    .groupby('manufacturer').mean().round(1)\
    .sort_values('average_mileage', ascending=False).head(1)

              average_mileage
manufacturer
honda                    28.5

Do automatic or manual cars have better miles per gallon?

In [53]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,True

Use your get_db_url function to help you explore the data from the chipotle database.

In [56]:
import env

In [68]:
url = get_db_url(env.user,env.password,env.host)

In [71]:
pd.read_sql('show tables', url)

  Tables_in_chipotle
0             orders

In [74]:
df = pd.read_sql('select * from orders', url)

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [81]:
df.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

What is the total price for each order?

In [82]:
df.item_price = df.item_price.str.strip('$').astype(float)

In [86]:
df.groupby('order_id').sum().item_price

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

What are the most popular 3 items?

In [87]:
df.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,2.39
1,2,1,1,Izze,[Clementine],3.39
2,3,1,1,Nantucket Nectar,[Apple],3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",16.98

In [101]:
df.groupby(['item_name']).quantity.sum().head()

item_name
6 Pack Soft Drink        55
Barbacoa Bowl            66
Barbacoa Burrito         91
Barbacoa Crispy Tacos    12
Barbacoa Salad Bowl      10
Name: quantity, dtype: int64

In [102]:
df.groupby(['item_name']).sum()['quantity'].nlargest(3).plot.barh()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.